h1 {
    color: #001933;
    margin-left: 20px;
}

body {
	background: url('img/mountain.jpg');
	background-color: gray;
	background-size: 100%;
}


.city {
    background-color: #ccccff;
    color: #001933;
}

#bio {
	background-color: #ccccff;
}