h1 {
    color: #001933;
    margin-left: 20px;
}

body {
	background: url('img/mountain.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: gray;
	background-position: center bottom; 
}

.city {
    background-color: #ccccff;
    color: #001933;
}